# pandasのデータフレーム

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame

## 練習問題

(1) $0\le x\le 1$の範囲を等分した `num` 個の点ついて、「$\sin(2\pi x)$ + 正規分布の乱数（標準偏差0.3）」を計算した array を返す関数 `create_dataset(num)` を作成してください。

In [0]:
from numpy.random import normal

def create_dataset(num):
    data_x = np.linspace(0, 1, num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    return data_y

In [23]:
create_dataset(10)

array([ 0.32037802,  0.83710299,  1.41702592,  0.75530236,  0.54956955,
       -0.65222044, -0.9803128 , -1.00163979, -0.82009622, -0.329682  ])

(2) (1)の関数について、$x$ の値と、対応する「$y = \sin(2\pi x)$ + 正規分布の乱数（平均0, 標準偏差0.3）」の値を列に持つ DataFrame を返すように修正してください。（列の名前は、それぞれ `'x'` および `'y'`` とします。）

例えば、次のような実装方法が考えられます。複数の方法を試してみてください。

- 列 `'x'` と列 `'y'` に対応する array オブジェクト `data_x, data_y` を用意した後、これらを列に持つ DataFrame を定義する。（ディクショナリー形式のオプションで列を指定する。）
- 列 `'x'` と列 `'y'` に対応する array オブジェクト `data_x, data_y` を用意した後、空の DataFrame を作成して、`df['x']=data_x` のように列名指定でデータを追加する。
- 列 `'x'` と列 `'y'` を個別の Series オブジェクトとして作成した後、`pd.concat()` で結合する。

In [0]:
def create_dataset1(num):
    data_x = np.linspace(0, 1, num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    df = DataFrame({'x': data_x, 'y': data_y})
    return df

In [25]:
create_dataset1(10)

          x         y
0  0.000000  0.180644
1  0.111111  0.793305
2  0.222222  1.198250
3  0.333333  1.348080
4  0.444444  0.756501
5  0.555556 -0.390609
6  0.666667 -0.824865
7  0.777778 -1.201622
8  0.888889 -0.431920
9  1.000000 -0.149392

In [0]:
def create_dataset2(num):
    data_x = np.linspace(0, 1, num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    df = DataFrame()
    df['x'] = data_x
    df['y'] = data_y
    return df

In [27]:
create_dataset2(10)

          x         y
0  0.000000 -0.107057
1  0.111111  0.780529
2  0.222222  0.735091
3  0.333333  1.041875
4  0.444444  0.284997
5  0.555556 -0.035956
6  0.666667 -1.013726
7  0.777778 -1.300634
8  0.888889 -0.801414
9  1.000000 -0.241150

In [0]:
def create_dataset3(num):
    data_x = np.linspace(0, 1, num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    col_x = Series(data_x, name='x')
    col_y = Series(data_y, name='y')
    df = pd.concat([col_x, col_y], axis=1)
    return df

In [29]:
create_dataset3(10)

          x         y
0  0.000000 -0.257583
1  0.111111  0.644750
2  0.222222  0.788942
3  0.333333  1.134377
4  0.444444  0.612586
5  0.555556 -0.211719
6  0.666667 -1.012938
7  0.777778 -0.790863
8  0.888889 -0.782057
9  1.000000 -0.226650

(3) (2)の関数を用いて、`num=1000` のデータフレームを作成した後、`describe()` メソッドでデータの統計情報を確認してください。

In [30]:
data = create_dataset1(1000)
data.describe()

                 x            y
count  1000.000000  1000.000000
mean      0.500000    -0.001483
std       0.289109     0.772053
min       0.000000    -1.912714
25%       0.250000    -0.688893
50%       0.500000     0.026113
75%       0.750000     0.653787
max       1.000000     1.795298