# pandasのデータフレーム

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame

## 練習問題

(1) $0\le x\le 1$の範囲を等分した `num` 個の点ついて、「$\sin(2\pi x)$ + 正規分布の乱数（標準偏差0.3）」を計算した array を返す関数 `create_dataset(num)` を作成してください。

In [0]:
from numpy.random import normal

def create_dataset(num):
    data_x = np.linspace(0, 1, num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    return data_y

In [3]:
create_dataset(10)

array([-0.04866654,  0.68642128,  1.10098952,  0.7915731 ,  0.2960576 ,
       -0.28244411, -0.94472367, -1.42996391, -0.55290753, -0.28945238])

(2) (1)の関数について、$x$ の値と、対応する「$y = \sin(2\pi x)$ + 正規分布の乱数（平均0, 標準偏差0.3）」の値を列に持つ DataFrame を返すように修正してください。（列の名前は、それぞれ `'x'` および `'y'`` とします。）

例えば、次のような実装方法が考えられます。複数の方法を試してみてください。

- 列 `'x'` と列 `'y'` に対応する array オブジェクト `data_x, data_y` を用意した後、これらを列に持つ DataFrame を定義する。（ディクショナリー形式のオプションで列を指定する。）
- 列 `'x'` と列 `'y'` に対応する array オブジェクト `data_x, data_y` を用意した後、空の DataFrame を作成して、`df['x']=data_x` のように列名指定でデータを追加する。
- 列 `'x'` と列 `'y'` を個別の Series オブジェクトとして作成した後、`pd.concat()` で結合する。

In [0]:
def create_dataset1(num):
    data_x = np.linspace(0, 1, num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    df = DataFrame()
    df['x'] = data_x
    df['y'] = data_y
    return df

In [5]:
create_dataset1(10)

          x         y
0  0.000000  0.027986
1  0.111111  0.734248
2  0.222222  0.572337
3  0.333333  0.917869
4  0.444444  0.435222
5  0.555556 -0.303891
6  0.666667 -1.012620
7  0.777778 -0.994325
8  0.888889 -0.800704
9  1.000000 -0.431936

In [0]:
def create_dataset2(num):
    data_x = np.linspace(0, 1, num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    df = DataFrame({'x': data_x, 'y': data_y})
    return df

In [7]:
create_dataset2(10)

          x         y
0  0.000000 -0.679870
1  0.111111  0.312423
2  0.222222  1.356315
3  0.333333  0.913912
4  0.444444  0.421376
5  0.555556 -0.063713
6  0.666667 -0.012577
7  0.777778 -1.375477
8  0.888889 -0.650626
9  1.000000 -0.019228

In [0]:
def create_dataset3(num):
    data_x = np.linspace(0, 1, num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    col_x = Series(data_x, name='x')
    col_y = Series(data_y, name='y')
    df = pd.concat([col_x, col_y], axis=1)
    return df

In [9]:
create_dataset3(10)

          x         y
0  0.000000  0.011958
1  0.111111  0.761126
2  0.222222  1.009966
3  0.333333  0.871089
4  0.444444  0.192283
5  0.555556 -0.336615
6  0.666667 -0.402449
7  0.777778 -1.193029
8  0.888889 -1.150227
9  1.000000 -0.215945

(3) (2)の関数を用いて、`num=1000` のデータフレームを作成した後、`describe()` メソッドでデータの統計情報を確認してください。

In [10]:
data = create_dataset1(1000)
data.describe()

                 x            y
count  1000.000000  1000.000000
mean      0.500000     0.011616
std       0.289109     0.781485
min       0.000000    -1.616976
25%       0.250000    -0.660291
50%       0.500000     0.016791
75%       0.750000     0.698127
max       1.000000     1.857153