# データフレームからのデータの抽出

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame

## 練習問題

(1) 次の関数 `create_dataset()`` を用いて、`num=10` 個のデータからなるデータフレーム `data` を作成します。その後、`iterrows` メソッドを利用して、データポイント $(x,\,y)$ の $y$ 値と関数 $\sin(2\pi x)$ の平方根平均二乗誤差
$\sqrt{\frac{\sum\{\sin(2\pi x) - y\}^2}{\rm num}}$
を計算してください。

ヒント：この例では、平方根平均二乗誤差は約0.3になります。

In [0]:
from numpy.random import normal

def create_dataset(num):
    data_x = np.linspace(0, 1, num)
    data_y = np.sin(2*np.pi*data_x) + normal(loc=0, scale=0.3, size=num)
    return DataFrame({'x': data_x, 'y': data_y})

In [3]:
data = create_dataset(10)
data

          x         y
0  0.000000 -0.268074
1  0.111111  0.530160
2  0.222222  1.192071
3  0.333333  0.673167
4  0.444444  0.567118
5  0.555556 -0.710316
6  0.666667 -1.030649
7  0.777778 -0.809959
8  0.888889 -0.391779
9  1.000000  0.025216

In [4]:
square_error = 0.0
for i, line in data.iterrows():
    square_error += (np.sin(2*np.pi*line.x) - line.y) ** 2
rmse = np.sqrt(square_error / len(data))
rmse

0.21733077503006576

(2) (1)の DataFrame から列 `'x'` だけを取り出した Series オブジェクトを変数 x に格納してください。`name` プロパティは、`'x'` とします。

さらに、$x^2$ （各要素を2乗した値）を要素とする Series オブジェクトを作成して、変数 `x2` に格納してください。`name` プロパティは、`'x2'` とします。

同様に、$x^3$、$x^4$ を要素とする Series オブジェクトを変数 `x3, x4` に格納します。

In [0]:
x = create_dataset(10).x
x2 = x**2
x2.name = 'x2'
x3 = x**3
x3.name = 'x3'
x4 = x**4
x4.name = 'x4'

(3) (2)で作成した `x, x2, x3, x4` を結合して、`x, x2, x3, x4` を列に持った DataFrame `dataset` を作成してください。

ヒント：結果は、次のような DataFrame になります。

In [6]:
dataset = pd.concat([x, x2, x3, x4], axis=1)
dataset

          x        x2        x3        x4
0  0.000000  0.000000  0.000000  0.000000
1  0.111111  0.012346  0.001372  0.000152
2  0.222222  0.049383  0.010974  0.002439
3  0.333333  0.111111  0.037037  0.012346
4  0.444444  0.197531  0.087791  0.039018
5  0.555556  0.308642  0.171468  0.095260
6  0.666667  0.444444  0.296296  0.197531
7  0.777778  0.604938  0.470508  0.365950
8  0.888889  0.790123  0.702332  0.624295
9  1.000000  1.000000  1.000000  1.000000